<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Witaj w Bibliotece TiJO</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .header-container {
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="container mt-4 header-container">
    <h1 class="display-4 text-center">Witaj w wirtualnej bibliotece TiJO</h1>
    <div class="text-center mt-4">
        <a href="login" class="btn btn-primary btn-lg">Zaloguj się</a>
        <a href="register" class="btn btn-secondary btn-lg">Zarejestruj się</a>
    </div>
</div>

<div class="container">
    <!-- Dodatkowa zawartość strony może zostać tutaj wstawiona -->
</div>
</body>
</html>
