<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head>
    <meta charset="UTF-8">
    <title>TiJO II Biblioteka</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="d-flex align-items-center justify-content-center" style="height: 100vh;">
<div class="container text-center">
    <div className="header-box">
        <h1>Witaj w wirtualnej bibliotece</h1>
        <h4>Zaloguj się lub utwórz konto</h4>
    </div>
    <div class="btn-group border p-4">
        <a href="login" class="btn btn-secondary mr-2 rounded">Zaloguj</a>
        <a href="register" class="btn btn-dark rounded">Zarejestruj</a>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="scripts/scripts.js"></script>
</body>

</html>