<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil Użytkownika</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Biblioteka</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="home.html">Strona główna</a>
            <a class="nav-item nav-link active" href="profile">Profil <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="add-book">Dodaj książkę <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="book-list">Lista książek <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#" id="logoutButton">Wyloguj</a>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h2>Profil Użytkownika</h2>

    <!-- Informacje o profilu użytkownika -->
    <div id="user-profile-info" class="card mb-3">
        <div class="card-body">
            <h4>Informacje o profilu</h4>
            <p>Nazwa użytkownika: <span id="username"></span></p>
            <p>Email: <span id="email"></span></p>
        </div>
    </div>

    <!-- Formularz aktualizacji danych -->
    <div class="card">
        <div class="card-body">
            <h4>Aktualizuj dane</h4>
            <form id="update-profile-form">
                <div class="form-group">
                    <label for="update-username">Nowa nazwa użytkownika:</label>
                    <input type="text" id="update-username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="update-email">Nowy Email:</label>
                    <input type="email" id="update-email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="update-password">Nowe Hasło:</label>
                    <input type="password" id="update-password" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Aktualizuj</button>
            </form>
        </div>
        <div class="card-footer">
            <button id="delete-profile" class="btn btn-danger">Usuń profil</button>
        </div>

    </div>
</div>

<!-- Skrypty -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function() {
        var userId = localStorage.getItem('userId');
        console.log('UserID from localStorage:', userId);

        if (!userId) {
            alert('Użytkownik nie jest zalogowany');
            window.location.href = '/login';
            return;
        }

        // Załaduj dane użytkownika
        function loadUserProfile() {
            $.ajax({
                url: '/api/users/' + userId,
                type: 'GET',
                success: function(user) {
                    $('#username').text(user.username);
                    $('#email').text(user.email);
                },
                error: function(error) {
                    alert('Błąd podczas ładowania profilu użytkownika');
                }
            });
        }

        // Aktualizuj dane użytkownika
        $('#update-profile-form').submit(function(event) {
            event.preventDefault();

            var updateData = {
                username: $('#update-username').val(),
                email: $('#update-email').val(),
                password: $('#update-password').val()
            };

            $.ajax({
                url: '/api/users/' + userId,
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(updateData),
                success: function(response) {
                    alert('Profil zaktualizowany.');
                    loadUserProfile();
                },
                error: function(error) {
                    alert('Błąd podczas aktualizacji profilu');
                }
            });
        });
        $('#logoutButton').click(function() {
                window.location.href = '/';
            });
        $('#delete-profile').click(function() {
    if (confirm('Czy na pewno chcesz usunąć swój profil?')) {
        $.ajax({
            url: '/api/users/' + userId,
            type: 'DELETE',
            success: function(response) {
                alert('Profil został usunięty.');
                localStorage.clear();
                window.location.href = '/';
            },
            error: function(error) {
                alert('Błąd podczas usuwania profilu');
            }
        });
    }
});
        loadUserProfile();
    });
</script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
